<a href="https://colab.research.google.com/github/19pa1a0443/gangulasowmya/blob/master/sowmya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=4
b=5
if a>b:
  print("a is largest")
else:
  print("b is largest")

b is largest

In [3]:
a=5
if a%2==0:
   print("it is a even number")
else:
   print("it is not a even number")

it is not a even number

In [5]:
n=100
for i in range(0,n+1,2):
   print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100